<a href="https://colab.research.google.com/github/Abner6039/encored/blob/main/wine__converting_data_types_as_column_required.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

# Load the dataset into a DataFrame
# Assuming 'df' is your DataFrame containing the wine data
# Replace 'wine_data.csv' with the actual filename if loading from a CSV file
df = pd.read_csv('wine_data.csv')

# Step 1: Inspect current data types
print("Before conversion:")
print(df.dtypes)

# Step 2: Convert data types as needed
# Example: Converting numerical columns to float
# Define the list of columns to convert to float
numeric_columns = ['Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash', 'Magnesium',
                   'Total phenols', 'Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins',
                   'Color intensity', 'Hue', 'OD280/OD315 of diluted wines', 'Proline']

# Convert each column in the list to float
for col in numeric_columns:
    # Check if the column exists in the DataFrame before conversion
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')

# Step 3: Handle missing values if necessary
# Example: Drop rows with missing values
df.dropna(inplace=True)

# Step 4: Convert string dates to datetime if applicable
# Example: Convert 'date_column' to datetime
# df['date_column'] = pd.to_datetime(df['date_column'])

# Step 5: Perform necessary checks
# Re-inspect data types after conversion
print("\nAfter conversion:")
print(df.dtypes)

# Display the first few rows of the DataFrame
print("\nFirst few rows of the DataFrame:")
print(df.head())

Before conversion:
1          int64
14.23    float64
1.71     float64
2.43     float64
15.6     float64
127        int64
2.8      float64
3.06     float64
.28      float64
2.29     float64
5.64     float64
1.04     float64
3.92     float64
1065       int64
dtype: object

After conversion:
1          int64
14.23    float64
1.71     float64
2.43     float64
15.6     float64
127        int64
2.8      float64
3.06     float64
.28      float64
2.29     float64
5.64     float64
1.04     float64
3.92     float64
1065       int64
dtype: object

First few rows of the DataFrame:
   1  14.23  1.71  2.43  15.6  127   2.8  3.06   .28  2.29  5.64  1.04  3.92  \
0  1  13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28  4.38  1.05  3.40
1  1  13.16  2.36  2.67  18.6  101  2.80  3.24  0.30  2.81  5.68  1.03  3.17
2  1  14.37  1.95  2.50  16.8  113  3.85  3.49  0.24  2.18  7.80  0.86  3.45
3  1  13.24  2.59  2.87  21.0  118  2.80  2.69  0.39  1.82  4.32  1.04  2.93
4  1  14.20  1.76  2.45  15.2  112  3.27  3.39  0.34  1.97  6.75  1.05  2.85

   1065
0  1050
1  1185
2  1480
3   735
4  1450